server:
  port: 8082

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: maryfarm-notify-service
  cloud:
    config:
      uri: http://127.0.0.1:8888
      name: maryfarm-notify-service
  datasource:
    url: jdbc:mysql://localhost:3307/notifydb?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create

# p6spy를 통한 SQL 로그 출력
decorator:
  datasource:
    p6spy:
      enable-logging: true

# p6spy의 출력 로깅 레벨을 debug로 설정
logging:
  level:
    p6spy: debug

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  paths-to-match:
    - /api/**
